        
            body {
                background-color: #8EC5FC;
                background-image: linear-gradient(270deg, #8EC5FC 0%, #E0C3FC 100%);
                margin: 0%;
                padding: 0%;
            }
            
            .navi {
                background-color: rgb(189, 201, 211);
                border-radius: 5px;
                box-sizing: border-box;
                padding: 5px;
            }
            .h1 {
                text-align: center;
                font-size: 2.2em;

            }
        
            .desktop {
                display: inline-block;
                position: relative;
                left: 40px;
                width: 30%;
                box-sizing: border-box;
                padding: 5px 10px;
                transition: all 0.45s;
            }
          
            .link {
                background-color:rgb(116, 95, 135);
                border-radius: 5px;
                text-decoration: none;
                padding: 3px;
                position: relative;
    

            }
            .desktop:hover {
                transform: scale(1.07,1.07);
            }
            img {
                width: 100%;
                border-radius: 13px 0 13px 0;
            }
            a:link{
                color: rgb(238, 223, 223);
            }
            
            a:visited{
                color:rgb(189, 184, 184);
            
            }
            .link:hover {
                background-color: rgb(147, 120, 87);
                transition: all 0.3s;
            }
            .mobile {
                display:none;

            }
            .go-up {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-image: url("../img/top1.png");
                position:fixed;
                right: 40px;
                bottom: 40px;
                z-index: 99;
            }
            .go-up a {
            display: block;
            height: 100%;
            }
           
            /* стили которые менятся на мобиле*/

            @media(max-width : 500px){
                .mobile {
                    width: 100%;
                    padding-top: 6px;
                    
                }
                div:hover{
                    transform: none;
                }
                
                .desktop {
                    display: none;
                }
                .mobile{
                    display:block;

                }
                
                img {
                    border-radius: 5px;
                }
                nav {
                    display: block;
                }
                .name {
                    text-align: center;
                }
                .navi a {
                    display: block;
                    text-align: center;
                }
                
                }
                
                
                
                
