        
            body {
                background-color:rgb(139, 185, 185);
            }
        
            div {
                display: inline-block;
                position: relative;
                left: 40px;
                width: 30%;
                box-sizing: border-box;
                padding: 5px 10px;
                box-sizing: border-box;
                transition: all 0.45s;

                
        
            }
            a {
                padding: 0 10px;

            }
            div:hover {
                transform: scale(1.07,1.07);
            }
            img {
                width: 100%;
                border-radius: 13px 0 13px 0;
            }
            a:link{
                color: white;
            }
            
            a:visited{
                color:rgb(189, 184, 184);
            
            }
            .mobile {
                display:none;

            }
            .go-up {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-image: url("../img/top1.png");
                position:fixed;
                right: 40px;
                bottom: 40px;
                z-index: 99;
            }
            .go-up a {
            display: block;
            height: 100%;
            }
           
            /* стили которые менятся на мобиле*/

            @media(max-width : 500px){
                div {
                    width: 100%;
                    padding: 0 20px;
                    
                }
                div:hover{
                    transform: none;
                }
                body nav a {
                    display: block;
                    text-align: center;
                    background-color:none;
                }
                .desktop {
                    display: none;
                }
                .mobile{
                    display:block;

                }
                div {
                    position: static;
                }
                img {
                    border-radius: 5px;
                }
                .mobile {
                    padding-top: 6px;
                }
                
                
                }

            
         
